body {
    background-color: brown;
}


#head {
    background-color: chartreuse;
}

#google_image {
    background-color: coral;
}   

#search {
    background-color: cyan;
}

#offered {
    background-color: darkblue;
}

#footer {
    background-color: pink;
}